<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Home Page</title>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/homePage.js}"></script>
</head>
<body>
<div>
<a th:href="@{/showNewEmployeeForm}">Add New Employee</a>
<div id="msg"></div>
<table align="center" class="table table-bordered">
 <tr>
   <td>User</td>
   <td>Password</td>
   <td>State</td>
   <td>Country</td>
   <td>Age</td>
   <td>ZipCode</td>
   <!-- <td>Photo</td> -->
   <td>Action</td>
 </tr>
  <tr th:each="employee:${listEmployees}">
    <td th:text="${employee.user}"></td>
    <td th:text="${employee.password}"></td>
    <td th:text="${employee.state}"></td>
    <td th:text="${employee.country}"></td>
    <td th:text="${employee.dob}"></td>
    <td th:text="${employee.zipcode}"></td>
    <!-- <td><img th:src="@{photos/{imageName}(imageName=${employee.picOriginalName})}" height="40px" width="40px"/><a th:href="@{/getImageDownload/{name}(name=${employee.picOriginalName})}">Download Image</a></td> -->
    <td>
      <!--<input type="hidden" id="empId" th:value="${${employee.id}}">-->
     <a th:href="@{/update/{id}(id=${employee.id})}">Update</a>
      <!-- <input type="button" value="Update" th:onclick="|updateData('${employee.id}')|">-->
      <!-- <a th:href="@{/deleteRecords/{id}(id=${employee.id})}">Delete</a> -->
      <input type="button" value="delete" th:onclick="|deleteData('${employee.id}')|">
      
    </td>
  </tr>
</table>
</div>

</body>
</html>